<!DOCTYPE html>

<html>

<body>

    <div class="heading"> Detector </div> 

    
        <div class="input">
             <form action="upload" method="POST">   
                <h1 class="head1"> Enter the website </h1> 
                <input type="text" name="site" class="text" > <br> 
                <h1 class="head1"> Select the Vulnerability </h1> 
                <input type="text" name="vulnerability" class="text" > <br> <br> <br>
                <input type="submit" value="Detect" class="button"> 
            </form>
        </div>
    

</body>
</html>
